<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
  <link rel="icon" type="image/x-icon" href="../icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
  <header-drawer></header-drawer>
  <hero-image></hero-image>
  <main id="mainContent" tabindex="0"></main>
  <footer-element></footer-element>
</body>
</html>
